.App {
  text-align: center;
}

.navbar ul, .navbar ul li{
  padding: 0;
  margin: 0;
}
.navbar ul li {
  background-color: white;
  padding: 0.3rem 0.8rem;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar ul {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #282c34;
}
.navbar ul li:hover {
  background-color: aquamarine;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
